{
  "extends": "stylelint-config-standard",
  "rules" : {
    "font-family-no-missing-generic-family-keyword" : [
      true,
    ],
    "selector-type-no-unknown" : [
      true,
      {
        "ignoreTypes": [
          "description",
          "info"
        ]
      }
    ],
  }
}
